*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    font-family: 'Roboto', sans-serif;
    background:url("images/ship.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
}
nav{
    height: 50px;
    width: 100%;
    padding: 20px 0;
}
.container{
    width: 1200px;
    max-width: 85%;
    margin: 0 auto;
}
nav ul{
    display: flex;
    justify-content: flex-start;
    margin: 0px 6px;
}
nav ul li a{
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    margin-left: 30px;
}
nav ul li a:hover, a.active{
    background-color: #E33741;
    border-radius: 5px;
}
.main-content{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 70px;
    align-items: center;
}
.booking-content{
    color: #fff;
    width: 100%;
    float: left;
    margin-left: 50px;
}
.booking-content h1{
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
}
.booking-form{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    float: right;
    width: 65%;
    margin-left: 180px;
}
.booking-form h3{
    margin: 10px 0px;
}
.booking-form  .input-group{
    margin: 10px 0;
}
.booking-form  .calculations{
    margin: 10px 0;
}
.booking-form  .calculations p{
    font-weight: 500;
    margin-bottom: 10px;
}
.booking-form input{
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #F3F5FF;
    border-radius: 4px;
    margin: 10px 0;
}
.f-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inp-width{
    min-width: 300px;
}
.plus-minus-btn{
    padding: 2px;
    margin: 15px 5px 0px 0px;
    word-spacing: 25px;
    
}
.plus-minus-btn button i{
    border: 1px solid red;
    background-color: #E33741;
    padding: 5px;
    font-size: 23px;
}
.booking-form .inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.btn-style{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    background-color:  #E33741;
}
.amount{
    display: flex;
    justify-content: space-between;
}

/* booking message */
#booked-message{
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    padding: 100px 0;
}
.content{
    background-color: #fff;
    width: 30%;
    padding: 50px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
}
.content table {
    border-collapse: collapse;
    margin: 40px auto;
}
.content h1{
    font-size: 40px;
    padding-bottom: 15px;
}
.content table tr:nth-child(1), .content table tr:nth-child(4){
    background-color: rgb(247, 77, 77);
    font-weight: bold;
    font-size: 18px;
}
.content table tr:nth-child(2){
    background-color: rgb(101, 168, 168);
}
.content table tr:nth-child(3){
    background-color: rgb(123, 209, 73);
}
.content td, .content th {
    padding: 10px 25px;
    text-align: left;
}
#booked-message img{
    height: 200px;
    width: 200px;
    position: relative;
    bottom: 50%;
    left: 61%;
}
